@use 'variables' as *;

h1 {
    font-family: $dan;
    color: $h1;
}

h2 {
    font-family: $noto;
    color: $h2;
}

h3 {
    font-family: $dan;
    color: $h1;
}

h4 {
    font-family: $noto;
    color: $darkgrey;

}

body {
    background-color: $backgroundColor;
}

