@use 'variables' as *;

body {
    background-color: $backgroundColor;
}

h1 {
    font-family: $dan;
    color: $h1;
}

h2 {
    font-family: $noto;
    color: $h2;
}

h3 {
    font-family: $dan;
    color: $h1;
    font-size: 1.5rem;
}

h4 {
    font-family: $noto;
    color: $darkgrey;
    text-transform: uppercase;
}

a {
    text-decoration-line: none;
}

p {
    width: 100%;
    font-family: $noto;
    font-size: 0.5rem;
}
