// option1
// $backgroundColor: rgb(226, 183, 226);
// $h1: rgb(255, 119, 0);
// $h2: rgb(255, 72, 0);

// option2
$backgroundColor: rgb(225, 217, 255);
$h2: rgb(145, 128, 159);
$h1: rgb(79, 74, 151);

// option3
// $backgroundColor: rgb(225, 217, 255);
// $h1: rgb(255, 119, 0);
// $h2: rgb(255, 72, 0);